html, body, #root {

  min-width: 320px;
  min-height: 480px;
  height: 100vh;
  width: 100vw;
  font-size: 3vh;
}

.App {
  display: flex;
  flex-direction: column;

  align-items: center;
  min-height: 100vh; 
  min-width: 100vw;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
}

.invalid {
  color: red;
}