.side-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  --shadow-color: #c7c6c6;
  box-shadow:
    -2px 0 0 0 var(--shadow-color) inset,
    0 -1px 0 0 var(--shadow-color),
    0 1px 0 0 var(--shadow-color) inset;

}

.add-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  height: clamp(32px, 4vw, 48px);
  width: clamp(32px, 4vw, 48px);
  background-color: #FC8937;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;

}

.add-icon {
  height: 80%;
  /* width: 80%;
  height: 80%; */
  /* display: block;
  margin: auto; */
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(84deg) brightness(111%) contrast(101%);
}

.goal-list {
  margin-bottom: auto;
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.goal-list > li {
  padding: 0;
}
.active-goal {
  background-color: #FC8937;
}