.options-bar {
    background-color: blue;
}

.logo-span {
    padding: 0 6px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.side-button {
  height: clamp(32px, 3vw, 5vw);
  width: clamp(32px, 3vw, 5vw);
  background-color: #77adfc ;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.side-icon {
  height: 80%;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(84deg) brightness(111%) contrast(101%);
}

.log-out-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin-left: auto;
}

.log-out-button {
  height: clamp(32px, 3vw, 5vw);
  width: clamp(32px, 3vw, 5vw);
  background-color: red ;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.log-out-icon {
  height: 80%;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(84deg) brightness(111%) contrast(101%);
}

.log-out-text {
  padding: 0;
  margin: 0;
  background-color: transparent;
}