.calendar-body {
    font-size: .7rem; 
    display: grid;
    gap: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    min-height: 180px;
    min-width: 300px;

}

.grid-35 {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.grid-42 {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.calendar-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


}

.calendar-cell::after{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    --shadow-color: #c7c6c6;
    box-shadow: 
    1px 0 0 0 var(--shadow-color) inset, 
    -1px 0 0 0 var(--shadow-color) inset, 
    0 2px 0 0 var(--shadow-color) inset;
}

.cell-status{
    width: 100%;
    opacity: 90%;
    height: 1.7rem;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
